<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Games</h1>
</div>

<hr>

<!--Lotos-->
<div class="Loto">

  <div class="container">
  <h3>Tirages loto</h3>
    <div class="raw">

      <div class="col-sm-2">
        <h4>Nom </h4>
        <ul>
          <% @games.each do |game| %>
            <li>
              <%= link_to(game.name, game)%>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="col-sm-4">
        <h4>Description </h4>
        <% @games.each do |game| %>
          <div>
            <%= link_to(game.description, game)%>
          </div>
        <% end %>
      </div>

      <div class="col-sm-4">
        <h4>Players </h4>
        <% @games.each do |game| %>
          <div>
            <%= link_to(game.players, game)%>
          </div>
        <% end %>
      </div>
      
    </div>
  </div>

  <!--Date-->
  <div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
      <%= DateTime.now.strftime("%F") %>
    </div>
  </div>
</div>

<hr>

